{% extends 'travel_plan_app_HTML/Base.html' %}

{% block content_block %}
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title mb-4">地域を選択</h2>
            <form method="get" action="{% url 'home' %}">
                <div class="btn-group" role="group" aria-lavel="地域">
                    <button type="submit" name="prefecture" value="" class="btn btn-outline-secondary {% if not request.GET.prefecture %}active{% endif %}">すべて</button>
                    {% for prefecture in prefectures %}
                        <button type="submit" name="prefecture" value="{{ prefecture.id}}" class="btn btn-outline-secondary {% if request.GET.prefecture == prefecture.id|stringformat:'s' %}active{% endif %}">
                            {{ prefecture.name }}
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title mb-4">検索</h2>
            <form method="get" action="{% url 'home' %}">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="キーワードを入力" value="{{ request.get.query }}">
                    <button class="btn btn-outline-secondary" type="submit">検索</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">投稿一覧</h2>
            <div class="list-group">
                {% for post in post_list %}
                <a href="{% url 'post_detail' post.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-item-center">
                    <div>
                        <h4 class="mb-1">{{ post.place }}</h4>
                        <div class="me-3">
                            <div class="text-muted mb-0">地域:{{ post.prefecture }}</div>
                        </div>
                    </div>
                    <div class="like-area">
                        <i class="fa-solid fa-heart"></i>
                        {{ post.likes.count }}
                        <div class="me-3">
                            <div class="text-muted mb-0">投稿者:{{ post.member.username }}</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

    <nav  aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-lavel="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ page_num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}    

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-lavel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    
            <div class="text-center mt-4">
                <a class="btn btn-primary" href="{% url 'post_create' %}">新規作成</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


