{% extends "travel_plan_app_HTML/Base1.html" %}
{% load static %}

{% block content_block %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                {% if member.member_image %}
                <img src="{{ member.member_image.url }}" alt="{{ member.username }}さんのプロフィール画像" class="rounded-circle me-3" style="width: 100px; height: 100px; object-fit: cover;">
                {% else %}
                <img src="{% static 'images/21682_line.png' %}" alt="デフォルトのプロフィール画像" class="rounded-circle me-3" style="width: 100px; height: 100px; object-fit: cover;">
                {% endif %}
                <h2 class="mb-0">{{ member.username }}</h2>
            </div>
            {% if user == member %}
                <a href="{% url 'member_update' request.user.pk %}" class="btn btn-outline-secondary btn-sm ms-auto">編集する</a>
            {% endif %}
        </div>
        <div class="card-body">
            <p><strong>フォロワー数：</strong>{{ member.followers.count }}</p>
            <p><strong>フォロー数：</strong>{{ member.following.count }}</p>

            {% if user != member %}
            <form method="post" action="{% url 'follow_toggle' member.pk %}">
                {% csrf_token %}
                {% if is_following %}
                    <button type="submit" class="btn btn-danger mt-3">フォローを外す</button>
                {% else %}
                    <button type="submit" class="btn btn-success mt-3">フォローする</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>

    <div class="mt-5">
        <h3>投稿一覧</h3>
        {% if posts %}
            <div class="list-group">
                {% for post in posts %}
                <a href="{% url 'post_detail' post.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-item-center">
                    <div>
                        <h4 class="mb-1">{{ post.place }}</h4>
                        <div class="me-3">
                            <div class="text-muted mb-0">地域:{{ post.prefecture }}</div>
                        </div>
                    </div>
                    <div class="like-area">
                        <i class="fa-solid fa-heart"></i>
                        {{ post.likes.count }}
                    </div>
                </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                現在、投稿はありません
            </div>
        {% endif %}
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary mt-4">戻る</a>
</div>
{% endblock %}